/**
 * a11y-dark theme for JavaScript, CSS, and HTML
 * Based on the okaidia theme: https://github.com/PrismJS/prism/blob/gh-pages/themes/prism-okaidia.css
 * @author ericwbailey
 */

code[class*='language-'],
pre[class*='language-'] {
  color: #f8f8f2;
  background: none;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*='language-'] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 0.3em;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: #2b2b2b;
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #d4d0ab;
}

.token.punctuation {
  color: #fefefe;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #ffa07a;
}

.token.boolean,
.token.number {
  color: #00e0e0;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #abe338;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #00e0e0;
}

.token.atrule,
.token.attr-value,
.token.function {
  color: #ffd700;
}

.token.keyword {
  color: #00e0e0;
}

.token.regex,
.token.important {
  color: #ffd700;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.p-3{
  padding: 30px;
}

.w-50{
width: 50%;
}

.width_ato{
width: auto;
}

.custom_content .width_ato {
  width: 50%;
}

/* .recipes_content div {
  width: 33.33%;
  margin-top: 5px;
} */

.display_inline{
  display: inline-block;
}

/* .recipes_content > div{
  margin-right: 100px;
} */



.border_red{
  border: 1px solid red;
  padding: 5px 15px;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  margin-right: 20px;
}

.border_red:last-child {
  margin-right: 0 !important;
}

.border_red:hover{
  color: red;
  border: 1px solid black;
}

.border_red .btn-icon{
  margin-right: 10px;
}

.breadcrumb li{
  margin-left: 10px;
}

.recipes_submenu_block{
  background-color: #f8f5f0;
}

.recipes_submenu{
  padding: 20px 0;
}

.recipes_submenu {
  max-width: calc(100% - 230px);
  width: 100%;
  margin-left: auto;
}

.recipes_submenu li{
  color: #000;
  font-size: 20px;
  text-align: center;
  font-weight: 500;
  margin-right: 30px;
}

.recipes_submenu li:last-child{
  margin-right: 0;
}


.headerupper li a {
  font-weight: 700 !important;
  color: #000 !important;
}

.headerupper li a.active{
  display: block;
  border-bottom: 3px solid red;
  padding-bottom: 5px;
}

.headerupper li a {
  font-weight: 700;
}

.breadcrumb li,.breadcrumb li a {
  font-size: 16px;
  font-weight: 600;
  color: #000;
}

.left-block{
  padding-right: 30px;
}

.left-block h2.title {
  font-size: 48px !important;
  line-height: normal;
  font-weight: 600 !important;
  color: #000 !important;
  margin-bottom: 50px !important;
}


.rec_item_icon {
  width: 30px;
}

.rec_item_desc {
  width: calc(100% - 30px);
  padding-left: 20px;
  color: #000;
}

.rec_item_icon svg {
  display: inline-block;
}

.rec_items {
  width: 33.33%;
}
.rec_items.full {
  width: 50%;
}

.rec_item_desc h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.rec_item_desc p {
  font-size: 24px;
  font-weight: 600;
  margin: 0 !important;
}

.custom_content.border-block > div:first-child {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #eee;
}

ul.blog-list {
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 0px 6px rgb(0 0 0 / 10%);
  background: rgb(241 241 241 / 30%);
  max-width: 500px;
  font-size: 18px;
}

ul.blog-list li a {
  color: #000;
  font-weight: 500;
}

.pagination a {
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  padding: 5px 15px;
  background: hwb(0deg 45% 51%);
  color: #fff;
  border-radius: 4px;
}

.pagination {
  margin: 20px 0 0;
}

.content {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (-ms-high-contrast: active) {
  code[class*='language-'],
  pre[class*='language-'] {
    color: windowText;
    background: window;
  }

  :not(pre) > code[class*='language-'],
  pre[class*='language-'] {
    background: window;
  }

  .token.important {
    background: highlight;
    color: window;
    font-weight: normal;
  }

  .token.atrule,
  .token.attr-value,
  .token.function,
  .token.keyword,
  .token.operator,
  .token.selector {
    font-weight: bold;
  }

  .token.attr-value,
  .token.comment,
  .token.doctype,
  .token.function,
  .token.keyword,
  .token.operator,
  .token.property,
  .token.string {
    color: highlight;
  }

  .token.attr-value,
  .token.url {
    font-weight: normal;
  }
}
